@import 'tailwindcss';

:root {
  --main-bg: #f7f8fd;
  --secondary-bg: #f2f4ff;
  --main-text-clr: #647196;
  --secondary-text-clr: #3a4374;
  --faded-text: #f2f4fe;

  --divider-main-clr: #8c92b3;

  --primary-pink: #ad1fea;
  --primary-hover: #c75af6;
  --secondary-hover: #7c91f9;
  --secondary-blue: #4661e6;
  --accent-orange: #f49f85;
  --accent-grey: #cfd7ff;
  --accent-light-blue: #62bcfa;

  --border-clr: #979797;
  --border-faded-clr: #97979738;

  --rad-clr-1: #e84d70;
  --rad-clr-2: #a337f6;
  --rad-clr-3: #28a7ed;

  --comment-stat: #373f68;
}

@theme inline {
  --color-primary: var(--primary-pink);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary-blue);
  --color-secondary-hover: var(--secondary-hover);
  --color-accent: var(--accent-orange);
  --color-main-bg: var(--main-bg);
  --color-main-border: var(--border-clr);
  --color-main-border-fade: var(--border-faded-clr);
  --color-secondary-bg: var(--secondary-bg);
  --color-hover: var(--accent-grey);
  --color-secondary-text: var(--secondary-text-clr);
  --color-accent-blue: var(--accent-light-blue);

  --color-radial-1: var(--rad-clr-1);
  --color-radial-2: var(--rad-clr-2);
  --color-radial-3: var(--rad-clr-3);

  --color-comment-stat: var(--comment-stat);

  --color-main-text: var(--main-text-clr);
  --color-faded-text: var(--faded-text);

  --color-divider: var(--divider-main-clr);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background: var(--main-bg);
  color: var(--main-text-clr);
  font-family: Arial, Helvetica, sans-serif;
}
