@import "tailwindcss";

:root {
  --primary: #AD1FEA;
  --main-bg: #F7F8FD;
  --main-text-clr: #647196;
}

@theme inline {
  --color-primary: var(--primary);
  --color-main-bg: var(--main-bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--main-bg);
  color: var(--main-text-clr);
  font-family: Arial, Helvetica, sans-serif;
}
